header-panel {
    background-color: #ffbfff ;
}

i.fa{
    text-shadow: 1px 1px 1px rgb(70, 70, 70);
}

header-panel.headerPanel.ng-isolate-scope.active {
    background-color: #0284C2;
}

tr.headerRow th {
    background-color: #006b9c;
}


li.enabled a {
    background-color: #1b74a3;
    color: #ffffff;
    border-color: #e6d1e6;
}

