.lwDialog {
    border-radius: 3px;
    box-shadow: 0 0 5px #666;
}

.lwDialog .nav.nav-tabs {
    padding-bottom: 5px;
}

.lwDialog .nav.nav-tabs li a {
    background-color: transparent;
    border: none;
    padding: 5px 15px;
}

.lwDialog .nav.nav-tabs li a.active i.documentationLink {
    color: white ;
}

.lwDialog .nav.nav-tabs li.active a {
    background-color: #094077;
    color: white;
}

.menu .area {
    background: white;
    border: none;
    box-shadow: 0 0 30px #555;
    color: #094077;
}

.menu .area .content h2 {
    font-weight: bold;
}

.menu .area .content h2, .menu .area .content .moduleContainer .moduleName {
    color: #094077;
}

.menu available-modules ul.navigation li {
    background-color: #094077;
    border-bottom: 1px solid #093067;
    border-right: 1px solid #093067;
    border-top: 1px solid #195087;
}

.btn {
    background: none;
    background-color: #e9eaeb;
    border: 1px solid #ccc;
}

.btn.btn-primary {
    background: none;
    background-color: #094077 ;
    border: none;
}

.btn.logoutBtn {
    background: #A63639;
    border: #A63639;
}

.header-buttons button, div.header-buttons a i {
    color: white;
    opacity: 1;
}

.leftMenuBackground {
    background-color: #094077;
}

.lwDialog .content {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.lwDialog .title {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.lwDialog.default {
    box-shadow: 0 0 30px #555;
}

.lwDialogBackDrop {
    opacity: 0.3;
}

.title {
    background-color: #094077;
}

.headerPanel.active {
    background-color: #094077;
    box-shadow: 0 0 1px #062748;
    z-index: 1;
}

input[readonly], textarea[readonly] {
    background: #f0f0f0;
    opacity: 1;
}

.headerRow .nav.nav-tabs {
    border-bottom: none;
    margin: 5px;
}

.headerRow td {
    background: #08366D;
}

.headerRow ul.nav.nav-tabs li {
    background: transparent;
    color: white;
    margin-right: 10px;
    opacity: 1;
}

.headerRow ul.nav.nav-tabs li a, tr.headerRow ul.nav.nav-tabs li .close {
    color: white;
    opacity: 1;
}

.headerRow ul.nav.nav-tabs li.active {
    background: white;
}

.headerRow ul.nav.nav-tabs li.active a, tr.headerRow ul.nav.nav-tabs li.active .close {
    color: #094077;
}

.nav.nav-tabs {
    border-bottom: 1px solid #ddd ;
}

.thumbnails {
    overflow-y: auto;
}