.lwDialog {
    border-radius: 3px!important;
    box-shadow: 0 0 5px #666!important;
    transition: all .5s;
    animation: dialog-open 0.8s ease-in-out;
}

@keyframes dialog-open {
	0% {
		margin-top:-100%;
		opacity:1;
		overflow-y:hidden;
	}
	90% {
		margin-top: 90px;
		margin-bottom:10px;
	}
	100%  {
		opacity:1;
	}
}

.lwDialog .nav.nav-tabs {
    padding-bottom: 5px!important;
}


.lwDialog .nav.nav-tabs li a {
    background: transparent!important;
    border: none!important;
    padding: 5px 15px!important;
}

.lwDialog .nav.nav-tabs li a.active i.documentationLink {
    color: white !important;
}

.lwDialog .nav.nav-tabs li.active a {
    background-color: #094077!important;
    color: white!important;
}

.nav.nav-tabs li a {
    background: transparent!important;
    border: none!important;
    padding: 5px 15px!important;
}

.nav.nav-tabs li a i {
    padding: 0 0 0 10px !important;
    position: relative !important;
}

.headerBlock:hover,
.headerBlock:hover a,
.headerBlock.opened,
.headerBlock.opened a {
    background:white!important;
    color:#094077!important;
}

div[ng-controller="UserSettingsView"] .content,
div[ng-controller="UserDetailsView"] .content {
    background:white!important;
    box-shadow: 0 2px 5px #999 !important;
}

div[ng-controller="UserSettingsView"] .content .control-label,
div[ng-controller="UserDetailsView"] .content .control-label {
    font-weight:bold;
}

div[ng-controller="UserSettingsView"] .content .control-label,
div[ng-controller="UserSettingsView"] .content .control-value,
div[ng-controller="UserSettingsView"] .content .link-button a,
div[ng-controller="UserDetailsView"] .content .control-label,
div[ng-controller="UserDetailsView"] .content .control-value,
div[ng-controller="UserDetailsView"] .content .link-button a {
    color:#094077!important;
}

div[ng-controller="UserSettingsView"] .content .link-button a:hover,
div[ng-controller="UserDetailsView"] .content .link-button a:hover {
    background:#eee!important;
}

div[ng-controller="UserSettingsView"] .content select {
    background:white!important;
    color:#094077!important;
}

.menu .area {
    background: white!important;
    border: none!important;
    box-shadow: 0 0 30px #555!important;
    color: #094077!important;
    height: 100vh!important;
}

.menu .area .content h2 {
    font-weight: bold!important;
}

.menu .area .content h2, .menu .area .content .moduleContainer .moduleName {
    color: #094077!important;
}

.menu available-modules ul.navigation li {
    background-color: #094077!important;
    border-bottom: 1px solid #093067!important;
    border-right: 1px solid #093067!important;
    border-top: 1px solid #195087!important;
}

.btn {
    background: none!important;
    background-color: #e9eaeb!important;
    border: 1px solid #ccc!important;
    box-shadow: 0 2px 5px #ccc !important;
}

.btn:not([disabled]):hover {
    transform:scale(0.99)!important;
    box-shadow: 0 1px 3px #ccc !important;
    color:inherit!important;
}

.btn:active {
    transform:scale(0.95);
    box-shadow:none!important;
}

.btn.btn-primary,
.btn.active {
    background: none!important;
    background-color: #094077 !important;
    border: none!important;
}

.btn[disabled] {
    box-shadow:none!important;
}

tr.highlight .btn {
    box-shadow: 0 2px 5px #4a97bd !important;
}

.btn.btn-primary:hover {
    color:white!important;
}

.btn.logoutBtn {
    background: #A63639!important;
    border: #A63639!important;
    box-shadow: none!important;
    color:white!important;
}
.btn.logoutBtn:hover {
    transform:scale(1.0)!important;
}

.header-buttons button, div.header-buttons a i {
    color: white!important;
    opacity: 1!important;
}

.leftMenuBackground {
    background-color: #094077!important;
}

.lwDialog .content {
    border-bottom-left-radius: 3px!important;
    border-bottom-right-radius: 3px!important;
}

.lwDialog .title {
    border-bottom: 5px solid !important;
    border-image: linear-gradient(to right, #094077, #01d2b3) 1 100 !important;
}

.lwDialog.default {
    box-shadow: 0 0 30px #555!important;
}

.lwDialogBackDrop {
    opacity: 0.3!important;
}

.title {
    background-color: #094077!important;
}

.headerPanel.active {
    background-color: #094077!important;
    box-shadow: 0 0 1px #062748!important;
    z-index: 1!important;
}

input[readonly], textarea[readonly] {
    background: #f0f0f0!important;
    opacity: 1!important;
}

.headerRow .nav.nav-tabs {
    border-bottom: none!important;
    margin: 5px!important;
}


.headerRow th,
.headerRow td {
    background: #08366D!important;
    font-weight:bold!important;
}

.headerRow td.active {
    background:white!important;
    color:#08366D!important;
}

tr.headerRow td li a, tr.headerRow td .close {
    background: transparent !important;
    border: none !important;
    color: white !important;
    opacity: 1 !important;
}

tr.headerRow td .close {
    background: #08366D !important;
}

tr.headerRow td.active .close{
    background:transparent!important;
    color:#08366D!important;
}


.nav.nav-tabs {
    border-bottom: 1px solid #ddd !important;
}

.nav.nav-tabs li.active a {
    background-color: #094077 !important;
    border: none !important;
    box-shadow: 0 2px 5px #aaa !important;
    color: white !important;
}

.thumbnails {
    overflow-y: auto!important;
}


.loadingMessageBackdrop {
    background: white;
    opacity: 0.7;
}

.loadingMessage i.fa.fa-spinner:before {
    content: '\f021';
}
