.dropdown-menu li {
    margin: 0;
    padding: 0;
    width: 100%;
}

.dropdown-menu li .btn {
    box-shadow: none;
}

.headerBlock:hover a, .headerBlock.opened a {
    color: #08366D;
}

.headerBlock:hover, .headerBlock.opened {
    background: white;
    color: #08366D;
}

.loadingMessage i.fa.fa-spinner:before {
    content: '';
}

.loadingMessageBackdrop {
    background: white;
    opacity: 0.7;
}

.lwControl.dynamic .content {
    background: white;
    box-shadow: 0 2px 5px #999;
}

.lwControl.dynamic .content .control-label {
    color: black;
    font-weight: bold;
}

.lwControl.dynamic .content .link-button:hover a {
    background: #dedede ;
}

.lwControl.dynamic .content a, .lwControl.dynamic .content .control-value, .lwControl.dynamic .content label {
    color: #094077;
}

.lwControl.dynamic .content select {
    background: white;
    color: black;
}

.lwDialog {
    border-radius: 3px;
    box-shadow: 0 0 5px #666;
}

.lwDialog.window-full-screen {
    opacity: 1;
}

.lwTooltip {
    background: #094077;
    box-shadow: 0 0 30px #aaa;
}

.lwTooltip img {
    border: none;
    box-shadow: 0 0 7px #333;
}

.mainContentRight {
    overflow-y: auto;
}

.menu .area {
    background: white;
    border: none;
    box-shadow: 0 0 30px #555;
    color: #094077;
    height: 100%;
    min-width: 300px;
    width: 300px;
}

.menu .area .column {
    height: calc(100% + 10px);
}

.menu .area .content {
    margin: 30px 0;
    width: 100%;
}

.menu .area .content .moduleContainer {
    height: 35px;
    line-height: 25px;
    margin: 0;
    padding: 0 30px;
}

.menu .area .content .moduleContainer:hover {
    background: #094077;
}

.menu .area .content .moduleContainer:hover .moduleName, .menu .area .content .moduleContainer:hover a.documentationLink i {
    color: white;
    opacity: 1;
}

.menu .area .content h2 {
    font-weight: bold;
    margin-left: 30px;
}

.menu .area .content h2, .menu .area .content .moduleContainer .moduleName, a.documentationLink i {
    color: #094077;
}

.menu .area .content h2:hover {
    color: inherit;
}

.menu available-modules ul.navigation li {
    background-color: #094077;
    border-bottom: 1px solid #093067;
    border-right: 1px solid #093067;
    border-top: 1px solid #195087;
}

.nav.nav-tabs {
    padding-bottom: 5px;
}

.nav.nav-tabs li a {
    background-color: transparent;
    border: none;
    padding: 5px 15px;
}

.nav.nav-tabs li a i {
    padding: 0 0 0 10px;
    position: relative;
}

.nav.nav-tabs li a.active i.documentationLink {
    color: white ;
}

.nav.nav-tabs li.active a {
    background-color: #094077;
    border: none;
    box-shadow: 0 2px 5px #aaa;
    color: white;
}

.notification-title, .notification-body, .notification-date, .notification-view-all {
    color: black;
}

.notificationsTable .unread-true {
    background: #dedede;
}

.slick-cell.selected {
    background: #094077;
}

available-modules ul.navigation li a img {
}

available-modules ul.navigation li:first-of-type {
    height: 80px;
}

available-modules ul.navigation li:first-of-type a span {
    display: none;
}

button.btn {
    background: none;
    background-color: #e9eaeb;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px #ccc;
}

button.btn.btn-primary, button.btn.active {
    background: none;
    background-color: #094077 ;
    border-bottom: 1px solid white;
    box-shadow: 0 2px 5px #aaa;
}

button.btn.btn-primary:hover, button.btn.active {
    color: white;
}

button.btn.logoutBtn {
    background: #A63639;
    border: #A63639;
    box-shadow: none;
}

button.btn:active {
    transform: scale(0.95);
    transition: all 0.05s;
}

button.btn:hover, tr.highlight td button.btn:hover {
    box-shadow: none;
    color: #555555;
    transform: scale(0.98);
    transition: all 0.1s;
}

div.header-buttons button, div.header-buttons a i {
    color: white;
    opacity: 1;
}

div.leftMenuBackground {
    background-color: #094077;
}

div.lwDialog .content {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

div.lwDialog .title {
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, #094077, #01d2b3) 1 100;
}

div.lwDialog.default {
    box-shadow: 0 0 15px #333;
}

div.lwDialogBackDrop {
    opacity: 0.3;
}

div.title {
    background-color: #094077;
}

header-panel.headerPanel.active {
    background-color: #094077;
    box-shadow: 0 0 1px #062748;
    z-index: 1;
}

html {
    overflow-y: hidden;
}

input[readonly], textarea[readonly] {
    background: #f0f0f0;
    opacity: 1;
}

tr.headerRow {
    background: #08366D;
}

tr.headerRow td .close {
    background: #08366D;
}

tr.headerRow td a {
    color: white;
    max-width: 185px;
    text-align: left;
}

tr.headerRow td li a, tr.headerRow td .close {
    background: transparent;
    border: none;
    color: white;
    opacity: 1;
}

tr.headerRow td, tr.headerRow td span.tabSwitcher {
    background: #08366D;
    color: white;
}

tr.headerRow td.active {
    background: white;
}

tr.headerRow td.active .close {
    color: #08366D;
}

tr.headerRow td.active a {
    box-shadow: none;
    color: #094077;
}

tr.highlight td button.btn {
    box-shadow: 0 2px 5px #2a779d;
}

ul.dropdown-menu {
    margin-bottom: 20px;
    overflow-y: auto;
    padding: 3px 0px;
}

ul.nav.nav-tabs {
    border-bottom: 1px solid #ddd ;
}

ul.thumbnails {
    overflow-y: auto;
}

